{{#each this}}
    {{#if type}}
        <div data-status="off" class="item">
            <div class="status"></div>
            <button class="toggle">Кнопка</button>
        </div>
    {{/if}}
{{/each}}